<div class="submit-turn">
	<div class="turn-type">{{localize 'battle.turn_button_label_enemy_turn'}}</div>
</div>
<div class="replay-control">
	<div class="control-type control-type-pause"><i class="fa fa-pause"></i></div>
	<div class="control-type control-type-play"><i class="fa fa-play"></i></div>
	<div class="control-type control-type-speed">
		<i class="fa fa-forward"></i>
	</div>
	<div class="control-info control-info-speed">
		<!--<div class="control-title">Speed</div>-->
		<div class="control-value">1.0x</div>
	</div>
	<div class="control-type control-type-real-time-mode">
		<p>Real Time</p>
		<div class="switch">
			<input type="checkbox" id="checkbox-real-time-mode" value="">
			<label><i></i></label>
		</div>
	</div>
</div>
