<!-- Games Widget -->
<div class="games">

  <div class="games-header">
    <div class="pull-left">Games</div>
    <div class="pull-right"></div>
    <div class="clearfix"></div>
  </div>

  <div class="games-actionbar">
    <button class="games-new btn btn-primary">New Game</button>
    <button class="games-test btn btn-primary">Test Game</button>
    <button class="games-custom-test btn btn-primary">Custom Test Game</button>
  </div>

  <div class="games-listing list-group"></div>

</div>
