<!-- Chats widget -->
<div class="games">
  <div class="games-header">
    <div class="pull-left">Chat</div>
    <div class="pull-right"></div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="widget wslate">

  <div class="widget-foot">
    <!-- Chat input box -->
      <form class="form-inline">
        <div class="input-append row-fluid">
          <input type="text" id="chat-input" placeholder="Type your message">
          <button type="submit" class="btn btn-primary" id="chat-submit">Send</button>
        </div>
      </form>
  </div>

  <!-- Widget content -->
  <div class="widget-content">
    <div class="padd">
      <!-- Chat Messages -->
      <div class="chats"></div>
    </div>
  </div>

</div>

