<div class="sliding-panel-select-content">
    <!-- <div class="sliding-panel-select-header">
        <div class="header-dashed-text sliding-panel-select-title">Play Select</div>
    </div> -->
    <div class="sliding-panel-select-body">
        <div class="sliding-panel-select-choices">
            <ul class="choices"></ul>
            <div class="previous-page"><div class="btn btn-clean"></div></div>
            <div class="next-page"><div class="btn btn-clean"></div></div>
        </div>
    </div>
</div>
