<h4 class="header-dashed-text">Season Rankings</h4>
<div class="grid">
    <div class="grid-bg"></div>
    <div class="grid-points">
        <div class="grid-point">
            <div class="grid-point-value">30</div>
        </div>
        <div class="grid-point">
            <div class="grid-point-value">20</div>
        </div>
        <div class="grid-point">
            <div class="grid-point-value">10</div>
        </div>
        <div class="grid-point">
            <div class="grid-point-value">0</div>
        </div>
    </div>
		<div class="grid-values seasons"></div>
</div>
