<div class="dialog-background" {{#if background}} style="background: {{background}}" {{/if}}></div>

<div class="modal-dialog">
	<button type="button" class="btn btn-clean btn-cancel-primary cancel-dialog"></button>
	<div class="modal-content">
		<div class="modal-header">
      <h4 class="modal-title">Export Decks</h4>
		</div>
		<div class="modal-body">
      <div class="modal-message">Click 'Copy' below to copy your decks to the clipboard as JSON.</div>
      <div class="modal-message">This can be used to import or share your decks.</div>
		</div>
		<div class="modal-footer">
			<button id="copy_decks_export_button" class="btn btn-clean btn-clean-primary cancel-dialog" data-clipboard-text="{{ decksExport }}">Copy</button>
		</div>
	</div>
</div>
