<div id="app-deck-preview-region"></div>

<h3 class="deck-card-back-select-title">Card Back</h3>

<div class="deck-card-back">
	<img class="deck-card-back-img" />

	<div class="btn-group btn-group-centered deck-card-back-controls">
      <button class="btn btn-clean btn-clean-primary cancel">Cancel</button>
			<button class="btn btn-clean btn-clean-primary select"></button>
	</div>
</div>
