<div class="buddy-profile">
	<div class="status-icon"></div>

	<div class="details">
		<div class="username-block"></div>
		<div class="status-block"><span class="status-label"></span></div>
	</div>

	<div class="btn-group action-menu">
		<button class="btn btn-clean btn-clean-icon user-profile"><i class="fa fa-user"></i></button>
		<button class="btn btn-clean btn-clean-primary spectate-game">{{localize 'buddy_list.action_spectate'}}</button>
		<button class="btn btn-clean btn-clean-primary invite-buddy-to-game">{{localize 'buddy_list.action_challenge'}} <img src="{{imageForResourceScale 'resources/ui/icon_invite.png'}}"></button>
		<button class="btn btn-clean btn-clean-icon remove-buddy"><i class="fa fa-trash-o"></i></button>
	</div>
</div>

<div class="conversation-region"></div>
