<div class="modal-dialog">
    <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
    <div class="modal-content">
        <div class="modal-body">
            <div class="buddy-list-region"></div>
		        <div class="buddy-selection-region"></div>
        </div>
    </div>
</div><!-- /.modal-dialog -->
