<div class="background"></div>
<div class="user-details">
    <div class="user-name"></div>
    <div class="user-rank hide">?</div>
</div>
<div class="hand">
    <div class="hand-icon uppercase">{{localize 'battle.hand_indicator_label'}}</div>
    <div class="hand-count">
        <span class="hand-count-current">0</span> / <span class="hand-count-max">0</span>
    </div>
</div>
<div class="deck">
    <div class="deck-icon uppercase">{{localize 'battle.deck_indicator_label'}}</div>
    <div class="deck-count">
        <span class="deck-count-current">0</span> / <span class="deck-count-max">0</span>
    </div>
</div>
<div class="mana">
    <div class="mana-icons"></div>
    <div class="mana-count">
	    <span class="mana-count-current">0</span> / <span class="mana-count-max">0</span>
		</div>
</div>
<div class="general-portrait">
    <div class="general-portrait-image" style="background-image: url({{imageForResourceScale (generalPortraitHexImageForGeneralId generalId)}})"></div>
    <div class="general-hp"></div>
</div>
<div class="connection-status"></div>
<div class="popover-region"></div>
