<div id="app-game-content">
    <div id="app-game-player1-region"></div>
    <div id="app-game-player2-region"></div>
    <div id="app-game-left-region"></div>
    <div id="app-game-middle-region"></div>
    <div id="app-game-right-region"></div>
    <div id="app-game-top-region"></div>
    <div id="app-game-center-region"></div>
    <div id="app-game-bottom-region"></div>
</div>
<div id="app-game-overlay">
	<div id="spectator_notification"><span class="message"></span></div>
	<div class="timer-container">
		<div class="timer-bar"></div>
	</div>
	<div id="app-game-followup-region"></div>
	<div id="app-game-custom-overlay-region"></div>
</div>
