<div class="emote-region"></div>

<div class="player-popover-container">

	<div class="emotes-categories btn-group">
		{{#categories}}
			<button class="btn btn-clean emote-category" data-categoryid="{{id}}">
				{{name}}
			</button>
		{{/categories}}
	</div>

	<div class="emotes-list-controls">
		<button class="btn btn-clean previous-page"><span class="fa fa-angle-double-left"></span></button>
		<button class="btn btn-clean next-page"><span class="fa fa-angle-double-right"></span></button>
	</div>

	<div class="emotes-list-container">
		<div class="emotes-list-region"></div>
	</div>

	<div class="emotes-text-list-region"></div>

</div>
