<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ray_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,1002}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{216,1002}}</string>
                <key>sourceSize</key>
                <string>{288,1014}</string>
            </dict>
            <key>ray_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{192,698}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,128},{192,698}}</string>
                <key>sourceSize</key>
                <string>{192,826}</string>
            </dict>
            <key>ray_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,196},{138,696}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{138,696}}</string>
                <key>sourceSize</key>
                <string>{144,756}</string>
            </dict>
            <key>ray_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,499.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,1000}</string>
            </dict>
            <key>ray_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{83,615}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{83,615}}</string>
                <key>sourceSize</key>
                <string>{83,641}</string>
            </dict>
            <key>ray_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,336},{82,576}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,576}}</string>
                <key>sourceSize</key>
                <string>{86,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rays.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d1477050d5be3a008aad1b17c98be7:30551bd03e6b802ebdd1fc1fa43c6a32:bc682fd394c19e6698f8ec47785a0777$</string>
            <key>textureFileName</key>
            <string>rays.png</string>
        </dict>
    </dict>
</plist>
