# Ignore heavily unlinted files
app/tools/
app/ui/
app/view/
scripts/generate_packages.js
server/ai/
server/redis/test/
test/unit/sdk/ai/card_intent_scoring.js
test/unit/sdk/cards/

# Ignore .gitignored files and code which imports them
app/data/packages.js
gulp/rsx.js

# Third-party code
app/vendor
node_modules
packages
scripts/codex/CanvasText-0.4.1.js

# TypeScript type declarations
*.d.ts
