node_modules/*
desktop/app/node_modules/*
.tmp
.sass-cache
.env
.foreman
.vagrant/
.idea/
.DS_Store
/app/data/packages.js
/matchmaker/*.log
/server/*.log
.env_for_alpha
/public
/dist
.node-version
.env_for_dev
dump.rdb
cli/config/*.temp
cli/config
.vscode
scripts/codex/images
npm-debug.log
scripts/**/*.log.txt
desktop/node_modules
desktop/src
scratch.txt
Procfile
/scratch
.steamcache
/config/production_local.json
/scripts/aws-utility/node_modules
/scripts/codex/node_modules
/cli/codes
/app/localization/locales/en/index.json
/scripts/localization/localization_output/
/scripts/localization/node_modules/
/cli/*Snapshots/
yarn-error.log
.pgdata
