version: "3.9"

x-base-service: &base
  image: node:lts
  entrypoint: bash
  working_dir: /app
  volumes:
    - .:/app
    - /app/node_modules

services:
  redis:
    image: "redis"
    ports:
      - "6379:6379"

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: duelyst
      POSTGRES_PASSWORD: duelyst
      POSTGRES_DB: duelyst
    ports:
      - 5432:5432
    volumes:
      - ./.pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    profiles:
      - donotstart
    restart: always
    ports:
      - 8080:8080
    environment:
      POSTGRES_CONNECTION: "pg://duelyst:duelyst@db/duelyst"
    depends_on:
      - db

  api:
    <<: *base
    ports:
      - 3000:3000
    environment:
      REDIS_IP: redis
      POSTGRES_CONNECTION: "pg://duelyst:duelyst@db/duelyst"
      FIREBASE_URL: ${FIREBASE_URL}
    command: docker/start api
    depends_on:
      - db
      - redis

  game:
    <<: *base
    profiles:
      - donotstart
    ports:
      - 8000:8000
    environment:
      REDIS_IP: redis
      FIREBASE_URL: ${FIREBASE_URL}
    command: docker/start game
    depends_on:
      - redis

  sp:
    <<: *base
    ports:
      - 8000:8000
    environment:
      REDIS_IP: redis
      FIREBASE_URL: ${FIREBASE_URL}
    command: docker/start sp
    depends_on:
      - redis

  worker:
    <<: *base
    ports:
      - 3002:8080
    environment:
      REDIS_IP: redis
      POSTGRES_CONNECTION: "pg://duelyst:duelyst@db/duelyst"
      FIREBASE_URL: ${FIREBASE_URL}
    command: docker/start worker
    depends_on:
      - db
      - redis

  worker-ui:
    <<: *base
    profiles:
      - donotstart
    ports:
      - 3001:3000
    command: docker/start worker-ui
    depends_on:
      - worker

  migrate:
    image: node:lts
    profiles:
      - donotstart
    environment:
      DEBUG: "*"
      NODE_ENV: development
      POSTGRES_CONNECTION: "pg://duelyst:duelyst@db/duelyst"
      FIREBASE_URL: ${FIREBASE_URL}
    depends_on:
      - db
    working_dir: /app
    volumes:
      - .:/app
    command: docker/start migrate:latest

  test-unit:
    <<: *base
    profiles:
      - donotstart
    environment:
      REDIS_IP: redis
      POSTGRES_CONNECTION: "pg://duelyst:duelyst@db/duelyst"
      FIREBASE_URL: ${FIREBASE_URL}
    command: docker/start test:unit
    depends_on:
      - db
      - redis

  test-integration:
    <<: *base
    profiles:
      - donotstart
    environment:
      REDIS_IP: redis
      POSTGRES_CONNECTION: "pg://duelyst:duelyst@db/duelyst"
      FIREBASE_URL: ${FIREBASE_URL}
    command: docker/start test:integration
    depends_on:
      - db
      - redis
