<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_merged_hover_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,74},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_hover_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,140},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_hover_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,30},{64,61}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_hover_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{61,64}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_hover_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,159},{61,61}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,61}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_hover_0_seam.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,65},{61,61}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,61}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_large_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,93},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_large_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,93},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_large_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,30},{64,61}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_large_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,159},{61,64}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_large_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,128},{61,61}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,61}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_merged_large_0_seam.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,191},{61,61}}</string>
                <key>offset</key>
                <string>{1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,61}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile_path_move_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{70,70}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_path_move_corner_from_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{70,70}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{70,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_path_move_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{82,60}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{82,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_path_move_end_from_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,64},{82,60}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{82,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_path_move_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,206},{71,12}}</string>
                <key>offset</key>
                <string>{28.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{71,12}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_path_move_straight.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{128,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{128,12}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_path_move_straight_from_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,16},{128,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{128,12}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiles_board.png</string>
            <key>size</key>
            <string>{607,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1c17dd87d918e5f834d93cf4b23344:838eb415f8538e09339c862bd3c76abf:17f4b695cc48df39451cc9ef0bb5bb4a$</string>
            <key>textureFileName</key>
            <string>tiles_board.png</string>
        </dict>
    </dict>
</plist>
