<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,132},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tile_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,76},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tile_opponent.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,178},{66,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{66,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tile_path_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{72,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,160}</string>
            </dict>
            <key>tile_spawn.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,76},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_spell.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,76},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tile_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,76},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiles_action.png</string>
            <key>size</key>
            <string>{276,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43c81ebf0b4f14ec2beff882ed608268:c9081d0941984e8061d18f3d98444955:d3cb2eafeb917b970f1f67a216b2b5fc$</string>
            <key>textureFileName</key>
            <string>tiles_action.png</string>
        </dict>
    </dict>
</plist>
