<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>generalspell_f2_blink_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,140},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,210},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,175},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,140},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,105},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,70},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,35},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,140},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,210},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,175},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,140},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,105},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,70},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,35},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,140},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,0},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,210},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,175},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,35},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,105},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,70},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,35},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,0},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

			<key>generalspell_f2_blink_active_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>generalspell_f2_blink.png</string>
			</dict>
		</dict>
</plist>