<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_fluid_sphere000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1253},{60,63}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,63},{60,53}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere001.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1188},{60,63}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,62},{60,64}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2240},{122,134}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,119},{122,134}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2574},{124,136}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,117},{124,136}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere004.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,3342},{128,140}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,113},{128,140}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2848},{134,146}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,108},{134,146}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2984},{142,152}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,104},{142,152}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,3476},{148,158}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,99},{148,158}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3468},{156,162}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,97},{156,162}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,3138},{162,166}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,94},{162,166}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,3306},{168,168}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,93},{168,168}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3294},{174,172}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,92},{174,172}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere012.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2830},{184,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,90},{184,176}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere013.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,3008},{198,182}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,86},{198,182}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere014.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,3296},{210,188}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,83},{210,188}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere015.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,3208},{218,194}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,79},{218,194}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere016.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,3096},{238,198}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,76},{238,198}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2700},{258,206}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,70},{258,206}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3078},{274,214}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,63},{274,214}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2848},{294,228}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,56},{294,228}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,3150},{308,244}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,48},{308,244}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere021.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,3086},{318,254}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,43},{318,254}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere022.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2830},{324,264}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,38},{324,264}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2908},{338,266}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,38},{338,266}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2880},{352,268}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,39},{352,268}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere025.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2812},{364,272}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,42},{364,272}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,290},{370,278}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,47},{370,278}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{374,286}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,49},{374,286}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,570},{386,296}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,46},{386,296}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2574},{404,304}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,42},{404,304}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere030.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2500},{416,310}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,38},{416,310}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,868},{424,322}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,30},{424,322}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2240},{430,332}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,25},{430,332}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2506},{442,340}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,20},{442,340}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere034.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2486},{458,342}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,18},{458,342}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1192},{472,346}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,14},{472,346}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2150},{484,348}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,12},{484,348}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1890},{490,348}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,12},{490,348}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2154},{496,350}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,10},{496,350}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere039.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2134},{498,350}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,10},{498,350}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1448},{504,350}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,10},{504,350}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere041.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1782},{502,350}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,10},{502,350}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{502,350}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,10},{502,350}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1800},{502,348}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,12},{502,348}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1540},{504,348}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,12},{504,348}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{506,352}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{506,352}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere046.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1424},{508,356}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,4},{508,356}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1088},{512,358}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,2},{512,358}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{514,360}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{514,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere049.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1062},{520,360}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{520,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,726},{528,360}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{528,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{534,360}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{534,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,364},{542,360}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{542,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere053.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,360},{548,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{548,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{550,360}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{550,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{544,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{544,360}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,358}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{554,358}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere057.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{554,356}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{554,356}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>fx_fluid_sphere058.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,722},{542,338}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{542,338}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_fluid_sphere_large.jpg</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423eae0f7540556fc351d05f25f1c54b:9300c6cd102c4a3ab1e8af5e08b95b6a:b0faa4517ef6e73b5577d854015f753b$</string>
            <key>textureFileName</key>
            <string>fx_fluid_sphere_large.jpg</string>
        </dict>
    </dict>
</plist>
