{{> header}}
<body>
<div class="container">

    <div class="row" style="margin-top: 50px; margin-left: -20px">
    {{> logo_svg}}
    </div>

    <div class="row" style="margin-top: 10px; min-height: 125px;">
      <h3>User Created</h3>
      <p>User has been created. </p>
      <strong><p style="color: red; ">{{user}}</p></strong>
    </div>

</div>
</body>
</html>