<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div><img width="600" height="284" src="http://duelyst.com/mailbanner600px.png"/></div>
  
    <div>
    Hello {{username}},
    <p>
    You or someone else tried to up for Duelyst again.
    Your email is already registered and you cannot sign up twice.
    If you have not tried to sign up, you can safely ignore this email.
    </p>
    - Team Duelyst
  </div>
  
  </body>
</html>
