<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div><img width="600" height="284" src="http://duelyst.com/mailbanner600px.png"/></div>
 
  <div>
    Hello {{username}},
    <p>
    {{message}}
    </p>
    - Team Duelyst
  </div>

  </body>
</html>
