{{> header}}
<body>
<div class="container">

    <div class="row" style="margin-top: 50px; margin-left: -20px">
    {{> logo_svg}}
    </div>

    <div class="row" style="margin-top: 10px; min-height: 125px;">
      <h3>Account Verification</h3>
      <p> This link has expired. Please sign in <a href="/forgot">here</a> and request a new verification email.</p>
      <p> If you have forgotten your password, you may reset it <a href="/forgot">here</a>.</p>
    </div>

</div>
</body>
</html>