{{> header}}
<body>
<div class="container">

    <div class="row" style="margin-top: 50px; margin-left: -20px">
    {{> logo_svg}}
    </div>

    <div class="row" style="margin-top: 10px; min-height: 125px;">
      <h3>Forgotten Password</h3>
      <p> This link has expired. If you forgot your password click <a href="/forgot">here</a>.</p>
    </div>

</div>
</body>
</html>