{{> header}}
<body>
<div class="container">

    <div class="row" style="margin-top: 50px; margin-left: -20px">
    {{> logo_svg}}
    </div>

    <div class="row" style="margin-top: 10px; min-height: 125px;">
      <h3>Choose New Password</h3>
      <p>Enter a new password with a minimum of 8 characters.</p>
      <strong><p style="color: red; ">{{error}}</p></strong>
    </div>

    <div class="row" style="margin-top: 25px;">
      <form role="form" action="/forgot/{{resetToken}}" method="POST" autocomplete="off">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="New password" pattern=".{8,}" required title="8 characters minimum">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

</div>
</body>
</html>