{{> header}}
<body>
<div class="container">

    <div class="row" style="margin-top: 50px; margin-left: -20px">
    {{> logo_svg}}
    </div>

    <div class="row" style="margin-top: 10px; min-height: 125px;">
      <h3>Transaction Pending</h3>
      <p>Your transaction with order ID (t#{{orderId}}) is pending.</p>
      <p>You can close this window and return to Duelyst.</p>
    </div>

</div>
</body>
</html>