<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f2_rune_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,201},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,402},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,201},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,603},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,402},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,201},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,603},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,402},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,603},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,603},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,402},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,201},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>f2_rune_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{755,804}</string>
			<key>textureFileName</key>
			<string>f2_runes.png</string>
			</dict>
		</dict>
</plist>