<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f5_fx_flamingstampede_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1005},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1809},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1608},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1407},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1206},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1005},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,804},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,603},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,402},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,201},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,0},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1809},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1608},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1407},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1206},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,0},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,804},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,603},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,402},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,201},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,0},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1608},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1407},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1206},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

			<key>f5_fx_flamingstampede_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,200}}</string>
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>f5_fx_flamingstampede.png</string>
			</dict>
		</dict>
</plist>