<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f6_fx_winterswake_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>f6_fx_winterswake_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>f6_fx_winterswake.png</string>
			</dict>
		</dict>
</plist>