<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_animalslash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,404},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,808},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,707},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,606},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,505},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,404},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,303},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,202},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,101},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,909},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,808},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,707},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,606},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,505},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,909},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,303},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,202},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,101},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,707},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,505},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

			<key>fx_animalslash_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,100}}</string>
				<key>sourceSize</key>
				<string>{150,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>fx_animalslash.png</string>
			</dict>
		</dict>
</plist>