<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_buff_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,57},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,114},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,57},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,0},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,171},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,114},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,171},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,0},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

			<key>fx_buff_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>fx_buff.png</string>
			</dict>
		</dict>
</plist>