<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_bladestorm_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,0},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,196},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,147},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,98},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,49},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,49},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,49},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

			<key>fx_bladestorm_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,48}}</string>
				<key>sourceSize</key>
				<string>{62,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>fx_bladestorm.png</string>
			</dict>
		</dict>
</plist>