<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_beamlaser_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

			<key>fx_beamlaser_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,350}}</string>
				<key>sourceSize</key>
				<string>{80,350}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_beamlaser.png</string>
			</dict>
		</dict>
</plist>