<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_beamtesla_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,361},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

			<key>fx_beamtesla_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,360}}</string>
				<key>sourceSize</key>
				<string>{110,360}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_beamtesla.png</string>
			</dict>
		</dict>
</plist>