<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_bloodbig_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,98},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,49},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,201},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,201},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,201},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,201},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,147},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,196},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,183},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,201},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,134},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,183},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodbig_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,134},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>

			<key>fx_bloodmedium_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,31},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,195},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,0},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,155},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,124},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,93},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,62},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,195},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,31},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_bloodmedium_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>

			<key>fx_explosionbig_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,67},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,67},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,67},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,134},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionbig_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,134},{80,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,66}</string>
			</dict>

			<key>fx_explosionmedium_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,156},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,39},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,78},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,117},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,78},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,39},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,195},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,156},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,117},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

			<key>fx_explosionmedium_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,38}}</string>
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>fx_blood_explosion.png</string>
			</dict>
		</dict>
</plist>