<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_bouldersphere_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1768},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1326},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1105},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,884},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,663},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,442},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,221},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1768},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1547},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1326},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1105},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,884},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,663},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,442},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,221},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,0},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1547},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1547},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1326},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1105},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,884},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,663},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,442},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,221},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1768},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1547},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1326},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1105},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,884},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

			<key>fx_bouldersphere_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,220}}</string>
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_bouldersphere.png</string>
			</dict>
		</dict>
</plist>