<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_bloodground2_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,100},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,125},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,205},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,180},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,230},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,25},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,50},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground2_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,75},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>fx_bloodground3_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,149},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,118},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,87},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,211},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,180},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,149},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,118},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground3_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,87},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>

			<key>fx_bloodground4_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,29},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,0},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,58},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,87},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,29},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground4_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,28}}</string>
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>

			<key>fx_bloodground_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,180},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,201},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,222},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,0},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,21},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,42},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

			<key>fx_bloodground_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,63},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>fx_bloodground.png</string>
			</dict>
		</dict>
</plist>