<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_collisionsparks_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,285},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,114},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,57},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,399},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,342},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,285},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,228},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,171},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,114},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,57},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,399},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparks_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,342},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,171},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,228},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,171},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,114},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,57},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,399},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

			<key>fx_collisionsparksblue_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,56}}</string>
				<key>sourceSize</key>
				<string>{80,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx_collision.png</string>
			</dict>
		</dict>
</plist>