<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_crossslash_x_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,755},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,755},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_x_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_crossslash_x.png</string>
			</dict>
		</dict>
</plist>