<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_crossslash_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,755},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,755},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

			<key>fx_crossslash_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,150}}</string>
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_crossslash.png</string>
			</dict>
		</dict>
</plist>