<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_disintegrate_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>fx_disintegrate_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>fx_disintegrate.png</string>
			</dict>
		</dict>
</plist>