<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_deathplagueicon_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,0},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_deathplagueicon_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_deathplagueicon_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,25},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_deathplagueicon_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,25},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_deathplagueicon_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,25},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_deathplagueicon_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>fx_deathplagueicon.png</string>
			</dict>
		</dict>
</plist>