<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_electricsphere_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,755},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,755},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,755},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,755},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,755},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

			<key>fx_electricsphere_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,150}}</string>
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_electricsphere.png</string>
			</dict>
		</dict>
</plist>