<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f6_cryogenesis_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,902},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,451},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,902},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,451},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,902},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,451},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,902},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,451},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,902},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,451},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1353},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

			<key>fx_f6_cryogenesis_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{160,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,450}}</string>
				<key>sourceSize</key>
				<string>{160,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f6_cryogenesis.png</string>
			</dict>
		</dict>
</plist>