<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f1_circlelife_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,985},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1773},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1576},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1379},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1182},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,985},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1773},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1576},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1379},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1182},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,985},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1773},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1576},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1379},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1182},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1773},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1576},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1379},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1182},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,985},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1773},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1576},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1379},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1182},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,985},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_circlelife_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f1_circlelife.png</string>
			</dict>
		</dict>
</plist>