<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_flamesphere_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>fx_flamesphere_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_flamesphere.png</string>
			</dict>
		</dict>
</plist>