<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f4_riteundervault_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1800},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1575},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1800},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1575},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1800},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1575},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1800},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1575},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1800},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1575},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1800},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1575},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1350},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1125},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f4_riteundervault_057.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f4_riteundervault.png</string>
			</dict>
		</dict>
</plist>