<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f5_kinectequilibrium_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

			<key>fx_f5_kinectequilibrium_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,450}}</string>
				<key>sourceSize</key>
				<string>{100,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f5_kinectequilibrium.png</string>
			</dict>
		</dict>
</plist>