<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f1_decimate_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,225},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,375},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,300},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,225},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,150},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,75},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,375},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,300},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,150},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,75},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,0},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

			<key>fx_f1_decimate_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx_f1_decimate.png</string>
			</dict>
		</dict>
</plist>