<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f1_aurynnexus_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>fx_f1_aurynnexus_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_f1_aurynnexus.png</string>
			</dict>
		</dict>
</plist>