<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f1_lasting_judgment_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,735},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,490},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,245},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,0},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,735},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,490},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,245},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,0},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,735},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,490},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,245},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,0},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,735},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,490},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,245},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,0},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,735},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,490},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,245},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,0},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,245},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

			<key>fx_f1_lasting_judgment_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f1_lasting_judgment.png</string>
			</dict>
		</dict>
</plist>