<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_starsfury_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

			<key>fx_f3_starsfury_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,451},{60,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,450}}</string>
				<key>sourceSize</key>
				<string>{60,450}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_f3_starsfury.png</string>
			</dict>
		</dict>
</plist>