<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_scionsthirdwish_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f3_scionsthirdwish_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f3_scionsthirdwish.png</string>
			</dict>
		</dict>
</plist>