<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_aurorastears_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1405},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1686},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1405},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1686},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1686},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1405},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_aurorastears_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f3_aurorastears.png</string>
			</dict>
		</dict>
</plist>