<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f2_phoenixfire_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>fx_f2_phoenixfire_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>fx_f2_phoenixfire.png</string>
			</dict>
		</dict>
</plist>