<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f6_spiritofthewild_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,614},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,921},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,614},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,307},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,0},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1535},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1228},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,921},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,614},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,307},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1535},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1228},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,921},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,1228},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,307},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1535},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1228},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,921},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,614},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,307},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1535},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1228},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,921},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,614},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,307},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

			<key>fx_f6_spiritofthewild_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{344,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,306}}</string>
				<key>sourceSize</key>
				<string>{344,306}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f6_spiritofthewild.png</string>
			</dict>
		</dict>
</plist>