<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fluid-card-shape001.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape010.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape011.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape012.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape013.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape014.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape015.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape016.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape017.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape018.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape019.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape002.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape020.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape021.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape022.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape023.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape003.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape004.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape005.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape006.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape007.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape008.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-card-shape009.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>fx_fluid_card_shape_puff.png</string>
			</dict>
		</dict>
</plist>