<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f4_obliterate_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>fx_f4_obliterate_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f4_obliterate.png</string>
			</dict>
		</dict>
</plist>