<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fluid-001.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-010.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-011.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-012.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-013.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-014.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-015.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-016.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-017.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-018.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-019.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-002.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-020.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-021.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-022.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-023.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-024.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-025.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-026.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-027.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-028.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-029.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-003.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-030.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-031.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-032.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-033.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-034.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-035.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-036.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-037.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-038.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-039.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-004.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-040.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-041.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-042.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-043.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-044.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-045.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-046.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-047.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-049.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-005.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-050.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,484},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-051.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-052.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-053.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-054.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-006.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-007.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,847},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-008.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,726},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>fluid-009.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,605},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_fluid_puff.png</string>
			</dict>
		</dict>
</plist>