<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_blaststarfire_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,891},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,810},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,729},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,648},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,567},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,486},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,405},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,324},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,243},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,162},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,81},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,891},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,567},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

			<key>fx_f3_blaststarfire_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,80}}</string>
				<key>sourceSize</key>
				<string>{480,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_f3_blaststarfire.png</string>
			</dict>
		</dict>
</plist>
