<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_firefallground_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fx_firefallground_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_firefallground.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d05e77fdaa7de33c55b3c19be71ccf20:75952f7b35a01412ffd5bf7b926719c7:03805f1a32730e621ca14f2c2a446b32$</string>
            <key>textureFileName</key>
            <string>fx_firefallground.png</string>
        </dict>
    </dict>
</plist>
