<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f1_martyrdom_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,591},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

			<key>fx_f1_martyrdom_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_f1_martyrdom.png</string>
			</dict>
		</dict>
</plist>