<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_blast_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,549},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,488},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,427},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,366},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,305},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,244},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,183},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,122},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,61},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,0},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,915},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,854},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,610},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,671},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,610},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,488},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,305},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

			<key>fx_f3_blast_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,60}}</string>
				<key>sourceSize</key>
				<string>{450,60}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_f3_blast.png</string>
			</dict>
		</dict>
</plist>
