<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f5_mindsteal_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_mindsteal_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f5_mindsteal.png</string>
			</dict>
		</dict>
</plist>