<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f1casterprojectile_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,33},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,66},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,66},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,66},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectile_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,33},{140,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,32}}</string>
				<key>sourceSize</key>
				<string>{140,32}</string>
			</dict>

			<key>fx_f1casterprojectilecharge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fx_f1casterprojectilecharge_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,66},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fx_f1casterprojectilecharge_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fx_f1casterprojectilecharge_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,33},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,128}</string>
			<key>textureFileName</key>
			<string>fx_f1_casterprojectile.png</string>
			</dict>
		</dict>
</plist>