<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f5_boundedlife_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,675},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

			<key>fx_f5_boundedlife_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,224}}</string>
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f5_boundedlife.png</string>
			</dict>
		</dict>
</plist>