<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_rashascurse_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1405},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1686},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1405},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1686},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1686},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1405},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1124},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,843},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,562},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

			<key>fx_f3_rashascurse_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,280}}</string>
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f3_rashascurse.png</string>
			</dict>
		</dict>
</plist>