<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f4_daemoniclure_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,704},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,528},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,352},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,176},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,0},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,704},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,528},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,352},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,176},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,0},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,704},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,528},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,352},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,176},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,704},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,528},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,352},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,176},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,0},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,704},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,528},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,352},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,176},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

			<key>fx_f4_daemoniclure_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f4_daemoniclure.png</string>
			</dict>
		</dict>
</plist>