<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f3_dominatewill_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1364},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,682},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,341},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,1705},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,1364},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,1023},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,682},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,341},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1705},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1364},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1023},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,682},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,341},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1705},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1023},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,1023},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,682},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,341},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1705},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1364},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1023},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,682},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,341},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1705},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1364},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1023},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,682},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,341},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

			<key>fx_f3_dominatewill_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,340}}</string>
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_f3_dominatewill.png</string>
			</dict>
		</dict>
</plist>