<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f4_darkfiresacrifice_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f4_darkfiresacrifice_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_f4_darkfiresacrifice.png</string>
			</dict>
		</dict>
</plist>