<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f2_koanofhorns_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>fx_f2_koanofhorns_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f2_koanofhorns.png</string>
			</dict>
		</dict>
</plist>