<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_f6_bbs_kinectsurge_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,543},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>fx_f6_bbs_kinectsurge_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx_f6_bbs_kinectsurge.png</string>
			</dict>
		</dict>
</plist>