<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_heavenlystrike_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,241},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,241},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,241},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,241},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

			<key>fx_heavenlystrike_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,240}}</string>
				<key>sourceSize</key>
				<string>{80,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx_heavenlystrike.png</string>
			</dict>
		</dict>
</plist>