<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_impactgreenbig_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenbig_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenbig_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenbig_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenbig_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenbig_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,114},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenbig_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,57},{72,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,56}}</string>
				<key>sourceSize</key>
				<string>{72,56}</string>
			</dict>

			<key>fx_impactgreenmedium_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,206},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>fx_impactgreenmedium_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,171},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>fx_impactgreenmedium_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,35},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>fx_impactgreenmedium_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,171},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>fx_impactgreenmedium_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,206},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>fx_impactgreenmedium_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>

			<key>fx_impactgreensmall_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,70},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_impactgreensmall_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_impactgreensmall_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,228},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_impactgreensmall_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,120},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>fx_impactgreensmall_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,95},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>fx_impactgreen.png</string>
			</dict>
		</dict>
</plist>