<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_multislash_full_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,604},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,453},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,755},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,604},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,453},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,755},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,604},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,453},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,755},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,755},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,604},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,453},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_full_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_multislash_full.png</string>
			</dict>
		</dict>
</plist>