<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_martyrdom_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,363},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,242},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,121},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,363},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,242},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,121},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,121},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,363},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,242},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,121},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

			<key>fx_martyrdom_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,120}}</string>
				<key>sourceSize</key>
				<string>{80,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx_martyrdom.png</string>
			</dict>
		</dict>
</plist>