<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_multislash_intro_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

			<key>fx_multislash_intro_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>fx_multislash_intro.png</string>
			</dict>
		</dict>
</plist>