<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_explosiondarkplume_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,35},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosiondarkplume_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,34}}</string>
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,111},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,70},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,193},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,111},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,152},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,193},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,152},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_explosionwhitesmokemedium_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,70},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>

			<key>fx_footstepdust_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,245},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,10}}</string>
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>

			<key>fx_footstepdust_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,245},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,10}}</string>
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>

			<key>fx_footstepdust_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{13,245},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,10}}</string>
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>

			<key>fx_footstepdust_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,234},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,10}}</string>
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>

			<key>fx_footstepdust_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,245},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,10}}</string>
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>

			<key>fx_footstepdust_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,245},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,10}}</string>
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>fx_smoke.png</string>
			</dict>
		</dict>
</plist>