<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_tornadoswirl_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,888},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,666},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,555},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,444},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,333},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,222},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,111},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,888},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,777},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,666},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,555},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,444},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,333},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,222},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,111},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,777},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,777},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,666},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,555},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,444},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,333},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,222},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,111},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,777},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,333},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

			<key>fx_tornadoswirl_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,110}}</string>
				<key>sourceSize</key>
				<string>{150,110}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_tornadoswirl.png</string>
			</dict>
		</dict>
</plist>