<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_whitehotbig_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,69},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,138},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,69},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,138},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,138},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,138},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,69},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,69},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,69},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotbig_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,68}}</string>
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>

			<key>fx_whitehotmedium_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,0},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,51},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,102},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,153},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,204},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,0},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,51},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,102},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

			<key>fx_whitehotmedium_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,153},{56,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>fx_whiteexplosion.png</string>
			</dict>
		</dict>
</plist>