<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss_grym_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1740},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1392},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1276},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1044},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,928},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1856},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1740},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1624},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1508},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1392},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1276},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1044},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,928},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,928},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1044},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1740},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1856},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1508},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1624},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1508},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1392},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1276},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1044},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,928},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1740},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1856},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1740},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1624},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1508},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1392},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1276},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1160},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1044},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,928},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>boss_grym_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>boss_grym.png</string>
			</dict>
		</dict>
</plist>