<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f1_caliber-o_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,777},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,333},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

			<key>f1_caliber-o_run_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>f1_caliber-o.png</string>
			</dict>
		</dict>
</plist>