<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f2_paperdropper_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>f2_paperdropper_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>f2_paperdropper.png</string>
			</dict>
		</dict>
</plist>