<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f2_seenoevil_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f2_seenoevil_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>f2_seenoevil.png</string>
			</dict>
		</dict>
</plist>