<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f2_tier2general_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_attack_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_cast_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castend_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castend_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castend_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castend_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castloop_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castloop_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castloop_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_castloop_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_caststart_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1485},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1350},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1215},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1080},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,945},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,810},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1620},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,675},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,540},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,405},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,270},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,135},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1890},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>f2_tier2general_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1755},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>f2_tier2general.png</string>
			</dict>
		</dict>
</plist>