<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f3_zodiac_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,729},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,648},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,729},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,648},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,729},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,648},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,729},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,648},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,729},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,648},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,891},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,567},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>f3_zodiac_run_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>f3_zodiac.png</string>
			</dict>
		</dict>
</plist>