<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f4_husk_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_death_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>f4_husk_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>f4_husk.png</string>
			</dict>
		</dict>
</plist>