<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f5_tier2general_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_attack_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_cast_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castloop_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castloop_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castloop_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castloop_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_caststart_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_caststart_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_caststart_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_caststart_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_death_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castend_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castend_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castend_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_castend_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_idle_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,0},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,805},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,690},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,575},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,460},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,345},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,230},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

			<key>f5_tier2general_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,115},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>f5_tier2general.png</string>
			</dict>
		</dict>
</plist>
