<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f6_altgeneraltier2_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_cast_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castend_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castend_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castend_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castend_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castloop_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castloop_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castloop_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castloop_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castloop_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_castloop_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_caststart_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_caststart_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_caststart_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_caststart_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>f6_altgeneraltier2_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>f6_altgeneraltier2.png</string>
			</dict>
		</dict>
</plist>