<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f6_frostiva_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_attack_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_death_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1834},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1703},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1572},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1441},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1310},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1048},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,917},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,655},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,393},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,131},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>f6_frostiva_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>f6_frostiva.png</string>
			</dict>
		</dict>
</plist>