<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f6_snowwyvern_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>f6_snowwyvern_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>f6_snowwyvern.png</string>
			</dict>
		</dict>
</plist>