<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_giantcrab_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_attack_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_giantcrab_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>neutral_giantcrab.png</string>
			</dict>
		</dict>
</plist>