<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_sunsetparagon_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,777},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,333},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>neutral_sunsetparagon_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>neutral_sunsetparagon.png</string>
			</dict>
		</dict>
</plist>