<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_dilotas_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,707},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,505},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

			<key>neutral_dilotas_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,100}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>neutral_dilotas_attack.png</string>
			</dict>
		</dict>
</plist>