<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_minijax_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,867},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,766},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,564},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,463},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,362},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,261},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,160},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,867},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,665},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,665},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,463},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,261},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_projectile_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{110,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,39}}</string>
				<key>sourceSize</key>
				<string>{110,39}</string>
			</dict>

			<key>neutral_minijax_projectile_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,39}}</string>
				<key>sourceSize</key>
				<string>{110,39}</string>
			</dict>

			<key>neutral_minijax_projectile_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{110,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,39}}</string>
				<key>sourceSize</key>
				<string>{110,39}</string>
			</dict>

			<key>neutral_minijax_projectile_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{110,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,39}}</string>
				<key>sourceSize</key>
				<string>{110,39}</string>
			</dict>

			<key>neutral_minijax_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_minijax_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>neutral_minijax.png</string>
			</dict>
		</dict>
</plist>