<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_arakiheadhunter_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,812},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,696},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>neutral_arakiheadhunter_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>neutral_arakiheadhunter.png</string>
			</dict>
		</dict>
</plist>