<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_ironclad_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_attack_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_death_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1833},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1692},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1551},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1410},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1269},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,987},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_ironclad_run_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>neutral_ironclad.png</string>
			</dict>
		</dict>
</plist>