<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_tribalranged1_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,567},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,891},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,810},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,729},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,648},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,486},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,405},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,324},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,243},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,162},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,81},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,933},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,852},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,771},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,690},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,609},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,528},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,447},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,366},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,285},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,204},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_projectile_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_tribalranged1_projectile_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_tribalranged1_projectile_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_tribalranged1_projectile_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_tribalranged1_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,447},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,771},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>neutral_tribalranged1_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>neutral_tribalranged1.png</string>
			</dict>
		</dict>
</plist>