<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_pennyarcade04_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_death_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_idle_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>neutral_pennyarcade04_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>neutral_pennyarcade04.png</string>
			</dict>
		</dict>
</plist>