<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_syvrel_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_attack_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,909},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_death_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,808},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,606},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,505},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,404},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,303},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,202},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,101},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,911},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,810},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,709},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,608},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,507},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,406},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,305},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,204},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_projectile_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_syvrel_projectile_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_syvrel_projectile_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_syvrel_projectile_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,50}}</string>
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>

			<key>neutral_syvrel_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,507},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,911},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,305},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>neutral_syvrel_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,709},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>neutral_syvrel.png</string>
			</dict>
		</dict>
</plist>