<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>neutral_calculator_attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_attack_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_breathing_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_hit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_hit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_hit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_idle_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

			<key>neutral_calculator_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,125}}</string>
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>neutral_calculator.png</string>
			</dict>
		</dict>
</plist>