<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>prop_cranewisp_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,74},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,37},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,37},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,37},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

			<key>prop_cranewisp_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,36}}</string>
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>prop_cranewisp.png</string>
			</dict>
		</dict>
</plist>