<div class="modal duelyst-modal">
	<div class="modal-dialog">
		<button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<div class="shop-product-collection-region">
					<!-- Layout puts shop collections in here -->
				</div>
			</div>
			<div class="modal-footer">
				<ul class="inventory-list">
						<li><span class="icon-gold"></span> <span class="gold-amount"></span></li>
						<li><i class="fa fa-dot-circle-o" /> <span class="spirit-orb-count">0</span>  {{localize 'common.spirit_orb_plural'}}</li>
						<li class="premium-currency-amount"><i class="fa icon-premium" /> <span class="premium-amount"></span> {{localize 'common.currency_premium_emphasized_plural'}}</li>
				</ul>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.duelyst-modal-dialog -->
</div>
