<button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary btn-nav-back"></button>

<button class="btn-borderless show-world-map">world map<i class="fa fa-map-marker"></i></button>
<button class="btn-borderless hide-world-map">lore<i class="fa fa-book"></i></button>

<div class="lore">
    <div class="chapters-region"></div>
    <div class="chapter-region"></div>
</div>
