<div class="chapter-content">
    <h1 class="chapter-name">{{name}}</h1>
    <p class="chapter-description">{{{description}}}</p>
    <hr class="shine">
    <p class="chapter-text">{{{text}}}</p>
</div>
