<div class="background" style="background-image: url({{imageForResourceScale img}})"></div>

<div class="sliding-panel-content">
    <div class="name">{{name}}</div>
    <div class="description">{{{description}}}</div>
</div>

{{#if unlockMessage}}<div class="locked-label"><i class="fa fa-lock"></i> {{{unlockMessage}}}</div>{{/if}}

<!--
<div class="sliding-panel-active-content"></div>
-->
