<div class="modal-dialog">
	<button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="header-dashed-text modal-title">Collection Soft Reset</h4>
		</div>
		<div class="modal-body">

			<div class="prompt-form">
				<h1>WARNING: This process CANNOT be reveresed.</h1>
				<ul>
					<li>Get back all Spirit Orbs you've ever purchased or opened.</li>
					<li>Any cards you received from Achievements, Gauntlet, and Season Rewards will remain in your inventory.</li>
					<li>Any other in your collection will be removed.</li>
					<li>Your gold is unaffected.</li>
					<li>Your account profile and stats are unaffected.</li>
					<li>Crafting Spirit is set to 0.</li>
				</ul>
				<div class="form-group">
					<label>Enter Password:</label>
					<input type="password" class="form-control password" required placeholder="Password">
				</div>
				<div class="form-control-buttons">
					<button class="btn btn-clean btn-clean-cancel btn-user-cancel">Cancel</button>
					<button class="btn btn-clean btn-clean-confirm prompt-submit">Confirm</button>
				</div>
			</div>

			<div class="prompt-submitted">
				<div class="activity-animation">
					<div class="activity-animation-image"></div>
				</div>
				<h2 class="prompt-title">One moment...</h2>
			</div>

			<div class="prompt-success">
				<div class="icon-container"><i class="fa fa-check"></i></div>
				<h2 class="prompt-title">SUCCESS!</h2>
				<p class="prompt-message">Your Collection Soft Reset is done...</p>
			</div>

			<div class="prompt-error">
				<div class="icon-container"><i class="fa fa-times"></i></div>
				<h2 class="prompt-title">Uh-oh!</h2>
				<p class="prompt-message error-message"></p>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
