<div class="modal-dialog">
    <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="header-dashed-text modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            {{{markdown content}}}
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button type="button" class="btn btn-clean btn-clean-primary btn-user-cancel">GOT IT</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
