<h1>{{localize 'buddy_list.referral_program_callout_title'}}</h1>
<p>{{localize 'buddy_list.referral_program_callout_message'}}</p>
<button id="open_referral_program" class="btn btn-clean btn-clean-primary">{{localize 'buddy_list.referral_program_button_label'}}</button>
<button id="claim_referral_code" class="{{#unless canRedeemReferralCode}}hide{{/unless}}"><i class="fa fa-gift"></i> {{localize 'buddy_list.referral_program_redeem_button_label'}}</button>
