<div class="buddy buddy-preview">
	<div class="buddy-profile">
		<img class="portrait" src="{{imageForResourceScale (profilePortraitImgForId portrait_id)}}" />
		<div class="details">
			<div class="username-block">{{username}}</div>
			<div class="status-block"><span class="status-label">{{localize (concat 'buddy_list_' status)}}</span></div>
		</div>
		<div class="details-aside">
			<div class="unread-indicator"><i class="fa fa-comment"></i><i class="fa fa-exclamation"></i></div>
			<div class="rank">?</div>
		</div>
	</div>
</div>
