<div class="modal-dialog">
    <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="header-dashed-text modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
            <div class="prompt-form">
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control password-current" required placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control password" required placeholder="New Password">
                    <input type="password" class="form-control password-confirm" required placeholder="Confirm New Password">
                </div>
                <div class="form-control-buttons">
                    <button class="btn btn-clean btn-clean-confirm prompt-submit">Save</button>
                </div>
            </div>

            <div class="prompt-submitted">
                <div class="activity-animation"><div class="activity-animation-image"></div></div>
                <h2 class="prompt-title">one moment...</h2>
            </div>

            <div class="prompt-success">
                <div class="icon-container"><i class="fa fa-check"></i></div>
                <h2 class="prompt-title">SUCCESS!</h2>
                <p class="prompt-message">Your password has been updated!</p>
            </div>

            <div class="prompt-error">
                <div class="icon-container"><i class="fa fa-times"></i></div>
                <h2 class="prompt-title">Uh-oh!</h2>
                <p class="prompt-message error-message"></p>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

