<div class="modal-dialog">
    <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body panel-menu esc-menu">
            <button class="btn btn-glowing settings animate-reveal">{{localize 'common.esc_menu_more_settings_label'}}</button>
            <div class="horizontal-separator animate-reveal"></div>
            <button class="btn btn-glowing logout animate-reveal">{{localize 'common.esc_menu_logout_label'}} <i class="fa fa-sign-out"></i></button>
            <button class="btn btn-glowing desktop-quit animate-reveal">{{localize 'common.esc_menu_quit_label'}} <i class="fa fa-times-circle"></i></button>
        </div>
        <div class="modal-footer">
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
