<div class="modal-dialog">
	<button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
	<div class="modal-content">
		<div class="modal-header">
		</div>
		<div class="modal-body panel-menu esc-menu">
			<button class="btn btn-glowing btn-user-exit animate-reveal">{{localize 'battle.esc_menu_end_game_label'}}</button>
			<button class="btn btn-glowing btn-user-cancel concede animate-reveal">{{localize 'battle.esc_menu_concede_label'}}</button>
			<div class="horizontal-separator animate-reveal"></div>
			<button class="btn btn-glowing settings animate-reveal">{{localize 'battle.esc_menu_more_settings_label'}}</button>
			<button class="btn btn-glowing buddy-list animate-reveal">{{localize 'battle.esc_menu_friends_label'}}</button>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
