<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="header-dashed-text modal-title">{{localize 'game_setup.waiting_for_opponent_msg'}}</h4>
            <p class="modal-subtitle">{{localize 'game_setup.opponent_choosing_hand_msg'}}</p>
        </div>
        <div class="modal-body game-choose-hand">
        </div>
        <div class="modal-footer">
            <div class="opponent-connection">
                <div class="opponent-connecting modal-body">{{localize 'game_setup.opponent_connecting_msg'}} <i class="fa fa-circle"></i></div>
                <div class="opponent-connected modal-body">{{localize 'game_setup.opponent_connected_msg'}} <i class="fa fa-circle"></i></div>
            </div>
        </div>
    </div>
</div>
