<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="header-dashed-text modal-title">{{description}}</h4>
            <p class="modal-subtitle">Click a highlighted space to complete</p>
        </div>
        <div class="modal-body game-choose-hand">
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button class="btn btn-clean btn-clean-primary btn-user-cancel"><i class="fa fa-angle-double-left"></i> CANCEL</button>
                <button class="btn btn-clean btn-clean-primary btn-user-skip">SKIP <i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
</div>
