<div class="dialog-background" {{#if background}}style="background: {{background}}"{{/if}}></div>

<div class="dialog-content">
    <div class="dialog-header">

    </div>

    <div class="dialog-body">
        <div class="activity-animation"><div class="activity-animation-image"></div></div>
        <div class="brand-main">
            <h1>DUELYST</h1>
        </div>
        <div class="game-tip">{{tip}}</div>
    </div>

		<div class="dialog-footer">
    </div>
</div>
