<div id="maintenance_alert" class="alert alert-info" role="alert">
	<i class="fa fa-info-circle"></i> <span>{{message}}</span> 
	{{#if deploying}} ... <i class="fa fa-circle-o-notch fa-spin"></i> deploying{{/if}}
	<button type="button" class="close"><span>&times;</span></button>
</div>