<div class="clearfix">
	<span class="pull-left">
		{{message}}
	</span> 
	<a class="pull-right dismiss"><i class="fa fa-times"></i></a>
	{{#if ctaTitle}}
		<a class="btn pull-right cta-button">{{ctaTitle}}</a>
  	{{/if}}
</div>
