<div class="status-content">
    <div class="ring"></div>
		<div class="status-panel">
        <h1 class="status-header">Network Error</h1>
        <p class="status-body">reconnecting to battle</p>
		</div>
    <!--<button class="exit">Cancel Reconnect</button>-->
</div>