<div class="btn-group">
	<button type="button" class="btn btn-clean btn-clean-primary menu animate-reveal">{{localize 'battle.menu_button_label'}}</button>
	<button type="button" class="btn btn-clean btn-clean-primary buddy-list animate-reveal">
		{{localize 'main_menu.menu_item_buddy_list'}} (<strong class="buddy-count"></strong>)
		<div class="unread-conversation-block hide"><i class="fa fa-comment"></i>
			<div class="unread-conversation-count">0</div>
		</div>
	</button>
</div>
