<div class="dialog-background"></div>

<div class="dialog-content">
    <div class="dialog-header">
        <div class="image">
            <img src="{{imageForResourceScale challenge.iconUrl}}"/>
        </div>
    </div>
    <div class="dialog-body">
        <div class="challenge-name">The Challenge Begins!</div>
        <div class="challenge-difficulty">{{challenge.difficulty}}</div>
        <div class="challenge-description">{{challenge.otkChallengeStartMessage}}</div>
        <button class="btn btn-clean btn-clean-secondary start">{{localize 'challenges.challenge_label_start'}}</button>
    </div>
    <div class="dialog-footer"></div>
</div>
