<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_mana_depleted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>tile_mana_idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{40,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile_mana.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b578a68347f58503f1996191a15745b:f5c445db27071ecc3e4c81b4008ae5cc:7ef187cd53bd3ce665ecaa0e1b446c7e$</string>
            <key>textureFileName</key>
            <string>tile_mana.png</string>
        </dict>
    </dict>
</plist>
