/* ---------- MAIN MENU ---------- */
.symbol-main-menu {
	position: absolute;
	left: -16.5rem;
	top: 20%;
	width: 33.0rem;
	height: 33.0rem;
	.symbol-main-menu-center,
	.symbol-main-menu-diamond,
	.symbol-main-menu-icon,
	.symbol-main-menu-ring-inner,
	.symbol-main-menu-ring-outer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.symbol-main-menu-center {
		@include backgroundImage("resources/ui/symbol_main_menu_center.png");
	}
	.symbol-main-menu-diamond {
		@include backgroundImage("resources/ui/symbol_main_menu_diamond.png");
	}
	.symbol-main-menu-icon {
		@include backgroundImage("resources/ui/symbol_main_menu_icon.png");
	}
	.symbol-main-menu-ring-inner {
		@include backgroundImage("resources/ui/symbol_main_menu_ring_inner.png");
	}
	.symbol-main-menu-ring-outer {
		@include backgroundImage("resources/ui/symbol_main_menu_ring_outer.png");
	}
}
.main-menu {
	position: absolute;
	left: 5%;
	top: 28%;
	width: 25.0rem;
	margin-left: 18.2rem;
	.brand-main {
		position: absolute;
		top: -12.5rem;
		left: -19.0rem;
	}
	.tooltip {
		&.right {
			margin-left: 1.2rem;
		}
	}
	.btn {
		width: auto;
		font-weight: 300;
		color: #fff;
		text-align: left;
		text-shadow: 0 0 1.0rem rgba(0,0,0,0.5);
		// text-shadow: 0 0 1.0rem $blue-glow-color;
		letter-spacing: 0.2rem;
		line-height: 3.8rem;
		margin-left: -8.0rem;
		margin-bottom: 0.5rem;
		padding: 0;
		position: relative;
		canvas {
			display: block;
			margin: 0 1.5rem 0.5rem 0;
			float: left;
			opacity: 0.5;
		}
		.emphasis-glow {
			text-shadow: 0 0 2.0rem $blue-glow-color;
			animation-name: pulsateBrightness;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
		}
		&:hover {
			text-shadow: 0 0 1.0rem $blue-glow-color, 0 0 2.0rem $blue-glow-color;
		}
		.badges {
			position: absolute;
			left: 100%;
			top: -1.5rem;
			z-index: 1;
			display: flex;
			flex-flow: row nowrap;

			.badge {
				display: none;
				position: relative;
				background: rgba(0, 0, 0, 0.8);
				font-weight: normal;
				min-width: 3.0rem;
				height: 3.0rem;
				text-align: center;
				font-size: 1.6rem;
				line-height: 3.0rem;
				border-radius: 1.5rem;
				padding: 0 0.5rem;
				margin: 0.25rem;
				text-shadow: none;
				&:after {
					content: " ";
					position: absolute;
					width: 1.0rem;
					height: 1.0rem;
					background: rgba(0, 0, 0, 0.8);
					bottom: 0.05rem;
					left: 0.05rem;
					z-index: -1;
				}
				&.active {
					display: inline-block;
				}
			}

			.badge-live {
				animation-name: pulsateLiveIcon;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				@keyframes pulsateLiveIcon {
					from { color: $red; }
					50% { color: $light-red; }
					to { color: $red; }
				}
			}
		}
	}

	.scene-switcher {
		position: absolute;
		top: -6.5rem;
		left: -18rem;
		width: 25rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		align-content: center;

		.scene-name {
			font-size: 1.3rem;
			color: $off-white;
			text-align: center;
			margin: 0 0.25rem;
		}

		.next-scene, .previous-scene {
			width: 2rem;
			height: 2rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			padding: 0;
			margin: 0 0.25rem;
			color: $off-white;
			font-weight: normal;
			font-size: 1.3rem;
			opacity: 0.85;
			text-shadow: none;
			&:hover, &:focus, &:active, &:active:focus {
				opacity: 1.0;
			}
		}

		.loading-spinner {
			display: none;
			width: 2rem;
			height: 2rem;
			flex-flow: column nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin: 0 0.25rem;
			color: $off-white;
			font-weight: normal;
			font-size: 1.3rem;
			.fa-spinner {
				animation-name: rotate;
				animation-duration: 1.0s;
				animation-iteration-count: infinite;
			}
		}

		&.loading {
			.loading-spinner {
				display: flex;
			}
			.next-scene, .previous-scene {
				display: none;
			}
		}
	}
}

.shop-cardset-promo {
	position: absolute;
	right: 0;
	bottom: 20rem;
	// @include backgroundImage("resources/shop/bloodstorm_main_menu_promo.png");
	background-image:none !important;
	pointer-events: auto;
	transition: filter 0.1s;
	animation: slideShopPromoIn 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards;
	animation-delay: 0.6s;
	transform:translateX(500px);
	&:hover {
		filter:brightness(1.15);
	}
}

$standardPromoScale: .8;

$purchasePromoScale: $standardPromoScale;
.purchase-promo {
	position: absolute;
	right: 0;
	bottom: 22rem;
	@include backgroundImage("resources/boss_battles/boss_plate.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30rem * $purchasePromoScale;
	height: 33rem * $purchasePromoScale;
	pointer-events: auto;
	transition: filter 0.1s;
	animation: slideActiveBossPromoIn 1.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
	animation-delay: 0.6s;
	transform:translateX(500px);
	text-align: center;
	color:#fff;
	font-size: 1.3rem * $purchasePromoScale;

	&:before {
		content:' ';
		transition: 0.2s all;
		animation: rotateGlow 3s linear;
		animation-iteration-count: infinite;
		position: absolute;
		opacity: 1.0;
		z-index: 1;
		width:14.0rem * $purchasePromoScale;
		height:14.0rem * $purchasePromoScale;
		top:6.4rem * $purchasePromoScale;
		left:8.1rem * $purchasePromoScale;
		mix-blend-mode:color-dodge;
		@include backgroundImage("resources/boss_battles/glow_ring.png");
		background-size: cover;
		background-position: center;
		@keyframes rotateGlow {
			from { transform: rotateZ(360deg); }
			to { transform: rotateZ(0deg); }
		}
	}

	&.inactive {
		animation: slideShopPromoIn 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		&:hover {
			filter:none;
		}
	}

	&:hover {
		filter:brightness(1.15);
	}
	h2 {
		font-size: 1.3rem * $purchasePromoScale;
		text-transform: uppercase;
		margin-top: 3rem * $purchasePromoScale;
		margin-bottom: 1.4rem * $purchasePromoScale;
		padding: 0;
		line-height: 4.0rem * $purchasePromoScale;
	}
	div {
		white-space: nowrap;
		line-height: 2.4rem * $purchasePromoScale;
		min-height: 1.7rem * $purchasePromoScale;
	}
	img {
		margin: 0;
		width:9rem * $purchasePromoScale;
		margin-bottom: 2.5rem * $purchasePromoScale;
	}
	button {
		margin-top: 2.5rem * $purchasePromoScale;
		width: 15rem * $purchasePromoScale;
		height: 5rem * $purchasePromoScale;
		font-size: 1.4rem * $purchasePromoScale;
		min-height: 4.0rem * $purchasePromoScale;
		min-width: 13.0rem * $purchasePromoScale;
		padding: 1.5rem*$purchasePromoScale 2.5rem*$purchasePromoScale;
	}
	@keyframes slideActiveBossPromoIn {
		0% { transform:translateX(500px); }
		35% { transform:translateX(0px); }
		40% {
			transform: rotateZ(-10deg);
		}
		46% {
			transform: rotateZ(10deg);
		}
		52% {
			transform: rotateZ(-10deg);
		}
		58% {
			transform: rotateZ(5deg);
		}
		64% {
			transform: rotateZ(-5deg);
		}
		70%,
		80% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: translateX(0px);
		}
	}
}

$premiumPurchasePromoScale: $standardPromoScale;
.premium-purchase-promo {
	position: absolute;
	right: 0;
	bottom: 22rem;
	@include backgroundImage("resources/boss_battles/boss_plate.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30rem * $premiumPurchasePromoScale;
	height: 33rem * $premiumPurchasePromoScale;
	pointer-events: auto;
	transition: filter 0.1s;
	animation: slideActiveBossPromoIn 1.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
	animation-delay: 0.6s;
	transform:translateX(500px);
	text-align: center;
	color:#fff;
	font-size: 1.3rem * $premiumPurchasePromoScale;

	&:before {
		content:' ';
		transition: 0.2s all;
		animation: rotateGlow 3s linear;
		animation-iteration-count: infinite;
		position: absolute;
		opacity: 1.0;
		z-index: 1;
		width:14.0rem * $premiumPurchasePromoScale;
		height:14.0rem * $premiumPurchasePromoScale;
		top:6.4rem * $premiumPurchasePromoScale;
		left:8.1rem * $premiumPurchasePromoScale;
		mix-blend-mode:color-dodge;
		@include backgroundImage("resources/boss_battles/glow_ring.png");
		background-size: cover;
		background-position: center;
		@keyframes rotateGlow {
			from { transform: rotateZ(360deg); }
			to { transform: rotateZ(0deg); }
		}
	}

	&.inactive {
		animation: slideShopPromoIn 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		&:hover {
			filter:none;
		}
	}

	&:hover {
		filter:brightness(1.15);
	}
	h2 {
		font-size: 1.3rem * $premiumPurchasePromoScale;
		text-transform: uppercase;
		margin-top: 3rem * $premiumPurchasePromoScale;
		margin-bottom: 1.4rem * $premiumPurchasePromoScale;
		padding: 0;
		line-height: 4.0rem * $premiumPurchasePromoScale;
	}
	div {
		white-space: nowrap;
		line-height: 2.4rem * $premiumPurchasePromoScale;
		min-height: 1.7rem * $premiumPurchasePromoScale;
	}
	img {
		margin: 0;
		width:9rem * $premiumPurchasePromoScale;
		margin-bottom: 2.5rem * $premiumPurchasePromoScale;
	}
	button {
		margin-top: 2.5rem * $premiumPurchasePromoScale;
		width: 15rem * $premiumPurchasePromoScale;
		height: 5rem * $premiumPurchasePromoScale;
		font-size: 1.4rem * $premiumPurchasePromoScale;
		min-height: 4.0rem * $premiumPurchasePromoScale;
		min-width: 13.0rem * $premiumPurchasePromoScale;
		padding: 1.5rem*$premiumPurchasePromoScale 2.5rem*$premiumPurchasePromoScale;
	}
	@keyframes slideActiveBossPromoIn {
		0% { transform:translateX(500px); }
		35% { transform:translateX(0px); }
		40% {
			transform: rotateZ(-10deg);
		}
		46% {
			transform: rotateZ(10deg);
		}
		52% {
			transform: rotateZ(-10deg);
		}
		58% {
			transform: rotateZ(5deg);
		}
		64% {
			transform: rotateZ(-5deg);
		}
		70%,
		80% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: translateX(0px);
		}
	}
}

$bossPromoScale: $standardPromoScale;
.boss-toast-promo {
	position: absolute;
	right: 0;
	bottom: 22rem;
	@include backgroundImage("resources/boss_battles/boss_plate.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30rem * $bossPromoScale;
	height: 33rem * $bossPromoScale;
	pointer-events: auto;
	transition: filter 0.1s;
	animation: slideActiveBossPromoIn 1.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
	animation-delay: 0.6s;
	transform:translateX(500px);
	text-align: center;
	color:#fff;
	font-size: 1.3rem * $bossPromoScale;

	&:before {
		content:' ';
		transition: 0.2s all;
		animation: rotateGlow 3s linear;
		animation-iteration-count: infinite;
		position: absolute;
		opacity: 1.0;
		z-index: 1;
		width:14.0rem * $bossPromoScale;
		height:14.0rem * $bossPromoScale;
		top:6.4rem * $bossPromoScale;
		left:8.1rem * $bossPromoScale;
		mix-blend-mode:color-dodge;
		@include backgroundImage("resources/boss_battles/glow_ring.png");
		background-size: cover;
		background-position: center;
		@keyframes rotateGlow {
			from { transform: rotateZ(360deg); }
			to { transform: rotateZ(0deg); }
		}
	}

	&.inactive {
		animation: slideShopPromoIn 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		&:hover {
			filter:none;
		}
	}

	&:hover {
		filter:brightness(1.15);
	}
	h2 {
		font-size: 1.3rem * $bossPromoScale;
		text-transform: uppercase;
		margin-top: 3rem * $bossPromoScale;
		margin-bottom: 1.4rem * $bossPromoScale;
		padding: 0;
		line-height: 4.0rem * $bossPromoScale;
	}
	div {
		white-space: nowrap;
		line-height: 2.4rem * $bossPromoScale;
		min-height: 1.7rem * $bossPromoScale;
	}
	img {
		margin: 0;
		width:9rem * $bossPromoScale;
		margin-bottom: 2.5rem * $bossPromoScale;
	}
	button {
		margin-top: 2.5rem * $bossPromoScale;
		width: 15rem * $bossPromoScale;
		height: 5rem * $bossPromoScale;
		font-size: 1.4rem * $bossPromoScale;
		min-height: 4.0rem * $bossPromoScale;
		min-width: 13.0rem * $bossPromoScale;
		padding: 1.5rem*$bossPromoScale 2.5rem*$bossPromoScale;
	}
	@keyframes slideActiveBossPromoIn {
		0% { transform:translateX(500px); }
		35% { transform:translateX(0px); }
		40% {
			transform: rotateZ(-10deg);
		}
		46% {
			transform: rotateZ(10deg);
		}
		52% {
			transform: rotateZ(-10deg);
		}
		58% {
			transform: rotateZ(5deg);
		}
		64% {
			transform: rotateZ(-5deg);
		}
		70%,
		80% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: translateX(0px);
		}
	}
	.boss-toast-promo-timer {
		color:$yellow;
		@include headerFont()
	}
}

@keyframes slideShopPromoIn {
  from { transform:translateX(500px); }
  to { transform:translateX(0px); }
}

/* ---------- ESC MENU ---------- */
.esc-menu {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	.btn {
		@include headerFullStyle();
		color: #ddd;
		width: auto;
	}
	.horizontal-separator {
		display: block;
		width: 20.0rem;
		height: 0.1rem;
		margin: 2.0rem 0;
		background-image: linear-gradient(left, transparent, rgba(255,255,255, 0.25) 20%, rgba(255,255,255, 0.25) 80%, transparent);
	}
}
